{
  "presets": [
      "next/babel"
  ],
  "plugins": [
      "transform-flow-strip-types",
      [
        "file-loader",
        {
          "name": "[hash].[ext]",
          "extensions": ["png", "jpg", "jpeg", "gif", "svg"],
          "publicPath": "/public",
          "outputPath": "/public",
          "context": "",
          "limit": 0
        }
      ]
  ]
}
